module.exports =
  app:
    port: 8000
  database:
    client: 'pg',
    connection:
      host: '127.0.0.1',
      user: 'postgres',
      password: 'postgres.123',
      database: 'ioweyou',
      charset: 'utf8'
  redis:
    host: 'localhost',
    port: 6379,
    db: 2,
    pass: ''
  facebook:
    appId: '',
    apiSecret: ''
