<tabset justified="true" type="pills">
    <tab heading="Otwarte" select="fetchOpenEntries()">
        <ul class="list-unstyled">
            <li ng-repeat="entry in entries" class="animation">
                <div ng-include=" 'public/templates/entry/table.html' "></div>
            </li>
        </ul>
    </tab>
    <tab heading="Zamknięte" select="fetchClosedEntries()">
        <ul class="list-unstyled">
            <li ng-repeat="entry in entries" class="animation">
                <div ng-include=" 'public/templates/entry/table.html' "></div>
            </li>
        </ul>
    </tab>
    <tab heading="Odrzucone" select="fetchRejectedEntries()">
        <ul class="list-unstyled">
            <li ng-repeat="entry in entries" class="animation">
                <div ng-include=" 'public/templates/entry/table.html' "></div>
            </li>
        </ul>
    </tab>
</tabset>