<h3>Filtry</h3>
<form id="ui-dashboard-filter" class="form">
    <div class="form-group">
        <label for="entry-filter-name-input">Nazwa</label>
        <input
                type="text"
                class="form-control"
                id="entry-filter-name-input"
                placeholder="Podaj przybliżoną nazwę."
                ng-model="enrty.name">
    </div>
    <div class="form-group">
        <label for="entry-filter-status-input">Status</label>
        <input
                type="text"
                class="form-control"
                id="entry-filter-status-input"
                ng-model="enrty.status">
    </div>
</form>