<h3>Filtry</h3>
<form id="ui-dashboard-filter" novalidate class="form">
    <div class="form-group">
        <label for="entry-filter-name-input">Nazwa</label>
        <div class="input-group">
            <input
                    type="text"
                    class="form-control"
                    id="entry-filter-name-input"
                    placeholder="Podaj przybliżoną nazwę."
                    ng-model="filter.name">
            <span class="input-group-btn">
                <button
                        class="btn btn-default"
                        type="button"
                        ng-click="fetchData()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="entry-filter-contractor-input">Znajomi</label>
        <select
                class="form-control"
                id="entry-filter-contractor-input"
                ng-change="fetchData()"
                ng-model="filter.contractor">
            <option
                    ng-repeat="contractor in contractors"
                    value="{{contractor.id}}">
                {{contractor.first_name}} {{contractor.last_name}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="entry-filter-status-input">Status</label>
        <select
                class="form-control"
                id="entry-filter-status-input"
                ng-change="fetchData()"
                ng-model="filter.status">
            <option
                    ng-repeat="status in statuses"
                    value="{{$index}}">
                {{status}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="entry-filter-status-input">Od</label>
        <p class="input-group">
            <input
                    ng-change="fetchData()"
                    type="text"
                    class="form-control"
                    datepicker-popup="{{format}}"
                    ng-model="filter.from"
                    show-weeks="false"
                    is-open="form.from.open"
                    min="2013-01-01"
                    max="'2014-02-01'"
                    datepicker-options="dateOptions"
                    date-disabled="disabled(date, mode)"
                    show-button-bar="false"/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openDatepickerFrom($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </p>
    </div>

    <div class="form-group">
        <label for="entry-filter-status-input">Do</label>
        <p class="input-group">
            <input
                    ng-change="fetchData()"
                    type="text"
                    class="form-control"
                    datepicker-popup="{{format}}"
                    ng-model="filter.to"
                    show-weeks="false"
                    is-open="form.to.open"
                    min="2013-01-01"
                    max="'2014-02-01'"
                    datepicker-options="dateOptions"
                    date-disabled="disabled(date, mode)"
                    show-button-bar="false" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openDatepickerTo($event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </p>
    </div>
</form>