<div class="panel panel-default">
    <div class="panel-heading">Wypełnij pola w formularzu:</div>
    <div class="row" style="padding-top: 30px; padding-bottom: 30px;">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <div class="form-group">
                <label for="entry-name-input">Nazwa:</label>
                <input type="text" class="form-control" id="entry-name-input" ng-model="entry.name" placeholder="Nazwe wpisu." ng-model="entry.name" required>
                <span class="help-block alert alert-danger" ng-show="hasError('name')">{{formErrors.name.message}}</span>
            </div>

            <div class="form-group">
                <label for="entry-value-input">Kwota:</label>
                <input type="text" class="form-control" id="entry-value-input" ng-model="entry.value" placeholder="Podaj kwote." ng-model="entry.value" required>
                <span class="help-block alert alert-danger" ng-show="hasError('value')">{{formErrors.value.message}}</span>
            </div>

            <div class="form-group">
                <label for="entry-desciption-input">Opis:</label>
                <textarea class="form-control" id="entry-desciption-input" ng-model="entry.description" placeholder="Opis." ng-model="entry.description" required>
                </textarea>
                <span class="help-block alert alert-danger" ng-show="hasError('description')">{{formErrors.description.message}}</span>
            </div>

            <div class="pull-right">
                <button class="btn btn-primary" ng-disabled="butonSave.disabled" ng-click="createEntry()">{{buttonSave.label}}</button>
            </div>
        </div>
    </div>
</div>