<div class="panel panel-default">
    <div class="panel-heading">Wybierz znajomych:</div>
    <div class="panel-body">
        Zaznacz znajomych którzy są tobie winni pieniądze.
        Kwota którą podasz zostanie podzielona równo pomiędzy osoby przez ciebie wskazane.
    </div>
    <div class="panel-body alert-danger" ng-show="hasError('contractors')">
        {{formErrors.contractors.message}}
    </div>
    <!-- List group -->
    <div class="list-group">
        <div class="list-group-item" style="width: 50%; display: block; float: left;" ng-repeat="friend in friends">
            <div class="checkbox">
                <label>
                    <img
                            ng-src="http://graph.facebook.com/{{ friend.username }}/picture"
                            ng-src-error="http://profile.ak.fbcdn.net/static-ak/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif"
                            alt=""
                            class="img-thumbnail"/>
                    <input
                            type="checkbox"
                            name="contractors[]"
                            ng-checked="entry.contractors.indexOf(friend.id) > -1"
                            ng-click="toggleContractors(friend.id)"
                            value="{{ friend.id }}">
                    {{friend.first_name}} {{friend.last_name}}
                </label>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>