<ol class="breadcrumb">
    <li><a href="#/">Tablica</a></li>
    <li><a href="#/entry/list">Transakcje</a></li>
    <li class="active">{{ entry.name }}</li>
</ol>
<div class="page-header">
    <h1>{{ entry.name }}</h1>
</div>
<div class="row">
    <div class="col-lg-8 col-md-8">
        <h3>Szczegóły </h3>
        <table class="table">
            <tr>
                <td>
                    <strong>Pożyczkodawca</strong>
                </td>
                <td>
                    <strong>Dłużnik</strong>
                </td>
            </tr>
            <tr>
                <td>
                    <img
                            ng-src="http://graph.facebook.com/{{ entry.lender_username }}/picture"
                            ng-src-error="http://profile.ak.fbcdn.net/static-ak/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif"
                            alt=""
                            class="img-thumbnail"/>
                    <a href="https://www.facebook.com/{{ entry.lender.username }}">
                        {{ entry.lender.profile.get_fullname }}
                    </a>
                </td>
                <td>
                    <img
                            ng-src="http://graph.facebook.com/{{ entry.debtor_username }}/picture"
                            ng-src-error="http://profile.ak.fbcdn.net/static-ak/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif"
                            alt=""
                            class="img-thumbnail"/>
                    <a href="https://www.facebook.com/{{ entry.debtor.username }}">
                        {{ entry.debtor.profile.get_fullname }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Nazwa</strong>
                </td>
                <td>
                    {{ entry.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Wartość</strong>
                </td>
                <td>
                    {{ entry.value }} zł
                </td>
            </tr>

            <tr ng-class="{ warning: entry.status == 0 , success: entry.status == 1 , danger: entry.status == 2 }">
                <td>
                    <strong>Status</strong>
                </td>
                <td>
                    {{ getStatus(entry.status) }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Opis</strong>
                </td>
                <td>
                    {{ entry.description }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Utworzony</strong>
                </td>
                <td>
                    {{ entry.created_at|date:'dd-MM-yyyy HH:mm:ss' }}
                </td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4 col-md-4" ng-include=" 'public/templates/entry/show_right.html' ">

    </div>
</div>