<div class="row">
    <div class="col-lg-12">
        <h3>Menu</h3>
        <div ng-show="isDebtor">
            <a ng-if="!isAcceptable" class="btn btn-lg btn-success btn-block disabled"><i class="icon-ok icon-white"></i> {{ getStatus(entry.status) }}</a>
            <a ng-if="isAcceptable" ng-click="acceptEntry()" class="btn btn-lg btn-success btn-block"><i class="icon-ok icon-white"></i> Zaakceptuj</a>
            <a ng-if="!isRejectable" class="btn btn-lg btn-danger btn-block disabled"><i class="icon-ok icon-white"></i> {{ getStatus(entry.status) }}, nie można odrzucić</a>
            <a ng-if="isRejectable" ng-click="rejectEntry()" class="btn btn-lg btn-danger btn-block"><i class="icon-ban-circle icon-white"></i> Odrzuć</a>
        </div>
        <div ng-show="isLender">
            <a ng-if="!isEditable" class="btn btn-lg btn-primary btn-block disabled"><i class="icon-ok icon-white"></i> {{ getStatus(entry.status) }}, nie może zostać zmienione</a>
            <div class="panel panel-default panel-inside">
                <a ng-if="isEditable" ng-click="toggleForm()" class="btn btn-lg btn-primary btn-block">
                    <i class="icon-ok icon-white"></i> Zmień
                </a>
                <div class="row" ng-show="formVisibility">
                    <form>
                        <div class="col-lg-12 col-md-12" ng-include=" 'public/templates/entry/formEdit.html' "></div>
                    </form>
                </div>
            </div>
            <a ng-if="!isDeletable" class="btn btn-lg btn-inverse btn-block disabled"><i class="icon-edit icon-white"></i> {{ getStatus(entry.status) }}, nie może zostać usunięte</a>
            <a ng-if="isDeletable" ng-click="deleteEntry()" class="btn btn-lg btn-inverse btn-block"><i class="icon-remove icon-white"></i> Usuń</a>
        </div>
    </div>
</div>