<table class="table table-striped table-bordered">
    <tr>
        <td rowspan="2" style="width:70px;">
            <img
                    ng-if="entry.lender_id == userData.ioweyouId"
                    ng-src="http://graph.facebook.com/{{ entry.debtor_username }}/picture"
                    ng-src-error="http://profile.ak.fbcdn.net/static-ak/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif"
                    alt=""
                    class="img-thumbnail"/>
            <img
                    ng-if="entry.debtor_id == userData.ioweyouId"
                    ng-src="http://graph.facebook.com/{{ entry.lender_username }}/picture"
                    ng-src-error="http://profile.ak.fbcdn.net/static-ak/rsrc.php/v2/yo/r/UlIqmHJn-SK.gif"
                    alt=""
                    class="img-thumbnail"/>
        </td>
        <td>
            <a style="text-transform: capitalize;" href="#/entry/show/{{ entry.id }}/">
                {{ entry.name }}
            </a>
        </td>
        <td style="width: 120px; text-align: right;">
                    <span
                            ng-show="entry.lender_id == userData.ioweyouId"
                            style="color: green; font-weight:bold;">
                        +{{ entry.value }} PLN
                    </span>
                    <span
                            ng-show="entry.debtor_id == userData.ioweyouId"
                            style="color: red; font-weight:bold;">
                        -{{ entry.value }} PLN
                    </span>
        </td>
    </tr>
    <tr>
        <td>
                    <span ng-show="entry.lender_id == userData.ioweyouId">
                        {{ entry.debtor_first_name }} {{ entry.debtor_last_name }}
                    </span>
                    <span ng-show="entry.debtor_id == userData.ioweyouId">
                        {{ entry.lender_first_name }} {{ entry.lender_last_name }}
                    </span>
        </td>
        <td style="width: 100px; text-align: right;">
            {{ getStatus(entry.status) }}
        </td>
    </tr>
</table>